---
layout: page
permalink: /projects/
---

<div class="wrapper projects">
  <h1>Projects</h1>
  {% assign currentDate = site.time | date: "%s" | to_integer %}
  <!-- current date: {{currentDate}}-->
  {% for i in (1..2) %}
    {% assign projects = site.projects | sort: date | reverse %}
    <h2 class="projects-grouplabel">
      {%- if i == 1 -%}
        Ongoing Projects
      {%- else -%}
        Finished Projects
      {%- endif -%}
    </h2>
    <div class="projects-group grid-wrapper">
    {% for project in projects %}
      {% assign projectEnd = project.end | date: "%s" | to_integer %}
      {% if i == 1 and projectEnd < currentDate %}
        {% continue %}
      {% elsif i == 2 and projectEnd > currentDate %}
        {% continue %}
      {% endif %}
      <div class="projects-item">
        {% if project.titleimage %}
          {% assign remote = project.titleimage | slice: 0, 4 %}
          {% if remote == "http" %}
            {% assign imageurl = project.titleimage %}
          {% else %}
            {% assign imageurl = project.titleimage | prepend: project.url | prepend: site.baseurl %}
          {% endif %}
        {% else %}
          {% assign imageurl = "//placehold.it/300x500?text=" | append: project.title |replace: "'", '' | uri_escape %}
        {%endif%}
        <a href="{{ project.url | prepend: site.baseurl }}" title="{{ project.title }}" style="background-image: url({{imageurl}})" data-title="{{ project.title }}">
        </a>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
</div>
